*.apk
*.ap_
*.aab
*.dex
*.class
*.so

bin/
obj/
gen/
proguard/
local.properties
keystore.properties
*.jks
*.keystore

.gradle/*
.idea/*
build/*
**/build/
.kotlin/
*.iml

*.hprof

screenshots/
*-screenshot.png
