<?xml version="1.0" encoding="utf-8"?>
<!--  
Overchan Android (Meta Imageboard Client)
Copyright (C) 2014-2016  miku-nyan <https://github.com/miku-nyan>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto"
    tools:ignore="UnusedAttribute"
    android:versionCode="55"
    android:versionName="1.5.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <application
        android:name="dev.esoc.esochan.common.MainApplication"
        android:allowBackup="true"
        android:supportsRtl="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
        <activity
            android:name="dev.esoc.esochan.ui.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <!-- domains -->
                <data android:host="4chan.org" />
                <data android:host="www.4chan.org" />
                <data android:host="boards.4chan.org" />
                <!-- end of domains -->
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="text/html" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="*" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.mhtml" />
                <data android:pathPattern=".*\\..*\\.mhtml" />
                <data android:pathPattern=".*\\..*\\..*\\.mhtml" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.mhtml" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mhtml" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="dev.esoc.esochan.ui.posting.PostFormActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />
        
        <activity
            android:name="dev.esoc.esochan.ui.gallery.GalleryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Transparent"
            android:process=":Gallery"
            android:exported="false" />
        
        <activity
            android:name="dev.esoc.esochan.ui.gallery.GalleryInteractiveExceptionHandler"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Transparent"
            android:exported="false" />
        
        <activity
            android:name="dev.esoc.esochan.ui.posting.PostingProgressActivity"
            android:theme="@style/Theme_Dialog_Switch"
            android:launchMode="singleTask"
            android:exported="false" />
        
        <activity
            android:name="dev.esoc.esochan.ui.downloading.DownloadingProgressActivity"
            android:theme="@style/Theme_Dialog_Switch"
            android:launchMode="singleTask"
            android:exported="false" />
        
        <activity
            android:name="dev.esoc.esochan.ui.downloading.DownloadingErrorReportActivity"
            android:theme="@style/Theme_Dialog_Switch"
            android:launchMode="singleTask"
            android:exported="false" />
        
        <activity android:name="dev.esoc.esochan.lib.FileDialogActivity" android:exported="false" />
        <activity android:name="dev.esoc.esochan.ui.settings.PreferencesActivity" android:exported="false" />
        <activity android:name="dev.esoc.esochan.ui.settings.AutohideActivity" android:exported="false" />
        <activity android:name="dev.esoc.esochan.ui.settings.ChansSortActivity" android:exported="false" />
        <activity android:name="dev.esoc.esochan.ui.settings.CertificatesActivity" android:exported="false" />
        <activity android:name="dev.esoc.esochan.ui.settings.CustomThemeListActivity" android:exported="false" />
        
        <activity android:name="dev.esoc.esochan.ui.ShareActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="dev.esoc.esochan.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
        
        <service android:name="dev.esoc.esochan.ui.posting.PostingService" android:exported="false" />
        <service android:name="dev.esoc.esochan.ui.downloading.DownloadingService" android:exported="false" android:foregroundServiceType="dataSync" />
        <service android:name="dev.esoc.esochan.ui.tabs.TabsTrackerService" android:exported="false" android:foregroundServiceType="dataSync" />
        <service android:name="dev.esoc.esochan.ui.gallery.GalleryBackend" android:exported="false" />
        
    </application>

</manifest>
